{% extends 'base.html' %} {% block content %}
<div>
  <h2>{{ review.title }}</h2>
  <p>{{ review.movie_name }}</p>
  <p>{{ review.garde }}</p>
  <p>{{ review.content }}</p>
  <p>{{ review.created_at }}</p>
  <p>{{ review.updated_at }}</p>
  <div class="d-flex">
    <a href="{% url 'movie_review:update' review.pk %}" class="btn btn-primary"
      >리뷰 수정</a
    >
    <form action="{% url 'movie_review:delete' review.pk %}" method="POST">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger">리뷰 삭제</button>
    </form>
  </div>
</div>

{% endblock content %}
